body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

body {
    font: 12px "ו", "Arial Narrow", HELVETICA;
    background: #fff;
}

a {
    color: #172c45;
    text-decoration: none;

}

a:hover {
    color: #cd0200;
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

html,
body {
    min-width: 1200px;
    background-color:#ffffff;
}
.clearfix::after {
    content: ".";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.w {
    width: 1232px;
    margin: 0 auto;
}