
.nav_process {

    width: 1230px;
    height: 178px;
    margin: 0 auto;
    padding-top: 22px;

}
.nav_btn {
    width: 100%;
    height: 34px;
    background: url("../images/bg_nav_btn.jpg");
    position: relative;
}
.nav_btn span {
    display: block;
    line-height: 32px;
    text-align: center;
    font-size: 18px;
    width: 200px;
    margin: 0 auto;
    color: #fff;
}
.nav_btn .xia {
     width: 14px;
     height: 7px;
     position: absolute;
     top: 14px;
     left: 50%;
     margin-left: 76px;
 }
.bg {
    background: url("../images/icon_navBtn.png");
}
.on {
    background: url("../images/icon_navBtn.png") 0 7px;
}
.nav_process_box {
    width: 100%;
    height: 215px;
    background-color: #d7d7d7;
    position: relative;
    display: none;
    overflow: hidden;
    z-index: 30;
}
.nav_process_box .process {
    display: block;
    width: 1240px;
    height: 136px;
    margin: 0 auto ;

}
.nav_process_box .process li {
    float: left;
    width: 236px;
    height: 80px;
    margin-right: 12px;
    padding-top: 56px;
}
.process .step_01 {
    background: url("../images/process.jpg");
}
.process .step_02 {
    background: url("../images/process.jpg") 0 -136px ;
}
.process .step_03 {
    background: url("../images/process.jpg") 0 -272px;
}
.process .step_04 {
    background: url("../images/process.jpg") 0 -408px;
}
.process .step_05 {
    background: url("../images/process.jpg") 0 -544px;
}
.process .step_01 .step_btn {
    width: 182px;
    height: 33px;
    background-color: #453318;
    border: 1px solid #453318;
    overflow: hidden;
    border-radius: 17px;
    margin: 18px auto 0 ;
    line-height: 33px;
    font-size: 16px;
    text-align: center;
}
.process .step_01 .step_btn a {
    color: #fff;
}
.process .one p {
    font-size: 16px;
    margin-top: 23px;
    text-align: center;
    color: #fff;

}
.process .one  p a {
    color: #ff8054;
    padding-right: 20px;
    background: url(../images/icon_notes.png);
    background-repeat: no-repeat;
    background-position:right center;
    text-decoration: underline;
}
.step_04 p {
    font-size: 12px;
    line-height: 20px;
    padding-left: 17px;
    color: #fff;
}
.step_02 {
    position: relative;
}
.step_02 span {
    height: 107px;
    width: 100%;
    background: url("../images/tab_csgo.png");
    background-repeat: no-repeat;
    background-position:center center;
    position: absolute;
    bottom: 60px;
    left: 0;
    display: none;

}
.step_03 {
    position: relative;
}
.step_03 span {
    height: 107px;
    width: 100%;
    background: url("../images/tab_txz.png");
    background-repeat: no-repeat;
    background-position:center center;
    position: absolute;
    bottom: 60px;
    left: 0;
    display: none;

}
.p_top {
    margin-top: 6px;
}
.process_top01 {
    float: left;
    width: 216px;
    height: 30px;
    background: url("../images/process_bottom02.png") no-repeat center;
    position: relative;
    margin-left: 10px;

}
.process_top02 {
    float: left;
    width: 504px;
    height: 30px;
    background: url("../images/process_top.png") no-repeat center;
    position: relative;
    margin-left: 148px;
}
.process_top03 {
    float: right;
    margin-right: 8px;
    width: 216px;
    height: 30px;
    background: url("../images/process_bottom03.png")  no-repeat center;
    position: relative;

}
.process_top01 span {
    color: #826c4c;
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 66px;
}
.process_top02 span {
    color: #27354e;
    font-size: 18px;
    position: absolute;
    top: 16px;
    left: 190px;
}
.process_top03 span {
    color: #826c4c;
    font-size: 16px;
    position: absolute;
    top: 16px;
    left: 21px;
}
.process_top03 a {
    color: #ff8054;
    text-decoration: underline;
    padding-right: 20px;
    background: url(../images/icon_notes.png) no-repeat right center;
    position: absolute;
    top: 37px;
    left: 58px;
    font-size: 16px;
}